@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #fcf9fe; /* Keeping as is */
    --foreground: #090909;   /* hsl(0, 0%, 3.9%) */
    --card: #ffffff;         /* hsl(0, 0%, 100%) */
    --card-foreground: #090909; /* hsl(0, 0%, 3.9%) */
    --popover: #ffffff;      /* hsl(0, 0%, 100%) */
    --popover-foreground: #090909; /* hsl(0, 0%, 3.9%) */
    --primary: #6C4DD6;      /* hsl(0, 0%, 9%) */
    --primary-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --secondary: #f5f5f5;    /* hsl(0, 0%, 96.1%) */
    --secondary-foreground: #6C4DD6; /* hsl(0, 0%, 9%) */
    --muted: #f5f5f5;        /* hsl(0, 0%, 96.1%) */
    --muted-foreground: #737373; /* hsl(0, 0%, 45.1%) */
    --accent: #f5f5f5;       /* hsl(0, 0%, 96.1%) */
    --accent-foreground: #6C4DD6; /* hsl(0, 0%, 9%) */
    --light-purple: #917cd6;
    --destructive: #d23131;  /* hsl(0, 84.2%, 60.2%) */
    --destructive-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --border: #e4e4e4;       /* hsl(0, 0%, 89.8%) */
    --input: #e4e4e4;        /* hsl(0, 0%, 89.8%) */
    --ring: #090909;         /* hsl(0, 0%, 3.9%) */
    --chart-1: #e63350;      /* hsl(12, 76%, 61%) */
    --chart-2: #30c19c;      /* hsl(173, 58%, 39%) */
    --chart-3: #4181b9;      /* hsl(197, 37%, 24%) */
    --chart-4: #63e4a8;      /* hsl(43, 74%, 66%) */
    --chart-5: #ffb54d;      /* hsl(27, 87%, 67%) */
    --radius: 0.5rem;
  }

  dark {
    --background: #fcf9fe; /* Keeping as is */
    --foreground: #fafafa;   /* hsl(0, 0%, 98%) */
    --card: #090909;         /* hsl(0, 0%, 3.9%) */
    --card-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --popover: #090909;      /* hsl(0, 0%, 3.9%) */
    --popover-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --primary: #fafafa;      /* hsl(0, 0%, 98%) */
    --primary-foreground: #6C4DD6; /* hsl(0, 0%, 9%) */
    --secondary: #262626;    /* hsl(0, 0%, 14.9%) */
    --secondary-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --muted: #262626;        /* hsl(0, 0%, 14.9%) */
    --muted-foreground: #a1a1a1; /* hsl(0, 0%, 63.9%) */
    --accent: #262626;       /* hsl(0, 0%, 14.9%) */
    --accent-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --destructive: #a3292b;  /* hsl(0, 62.8%, 30.6%) */
    --destructive-foreground: #fafafa; /* hsl(0, 0%, 98%) */
    --border: #262626;       /* hsl(0, 0%, 14.9%) */
    --input: #262626;        /* hsl(0, 0%, 14.9%) */
    --ring: #d4d4d4;         /* hsl(0, 0%, 83.1%) */
    --chart-1: #4d4cff;      /* hsl(220, 70%, 50%) */
    --chart-2: #33c2ad;      /* hsl(160, 60%, 45%) */
    --chart-3: #ff9933;      /* hsl(30, 80%, 55%) */
    --chart-4: #9b33cc;      /* hsl(280, 65%, 60%) */
    --chart-5: #ff4db8;      /* hsl(340, 75%, 55%) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-zinc-100 text-foreground;
  }
}


/* bgimg for top */
.top{
  /* background-image: url("../Assets/shared/top.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover; */
  clip-path: polygon(0 0, 59% 0, 60% 0%, 100% 0, 100% 38%, 56% 34%, 0 59%);

}




/* styling for hambuger btn */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* Hambuger end */



.carousel_tabs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
}
.carousel_tabs h1{
  padding-top: 20px;
  font-size: 35px;
  font-weight: 500;
  color: var(--primary);
  line-height: 45px;
  margin-bottom: 0px;
  letter-spacing: -0.3px;
}
.carousel_tabs .carousel_tabs_Text{
  max-width: 450px;
align-self: flex-start;
margin-left: 30px;

}
.carousel_tabs .carousel_tabs_Text ul {
  margin: 20px;
  margin-left: 30px;

}
.carousel_tabs .carousel_tabs_Text ul li{
  font-size: 14px;
  font-weight: 400;
  list-style-type: circle;
  line-height: 40px;
  /* color: var(--primary);
  line-height: 35px;
  margin-bottom: 50px;
  letter-spacing: -0.3px; */
}
.carousel_tabs .carousel_tabs_Text button{
 border: none;
}
/* .carousel_tabs img{
  max-width: 600px;
} */
.carousel_bar{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
   justify-content: space-between;
   gap: 20px;   
}
.carousel_bar p{
  width:100%;
  max-width: 200px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
}
.carousel_bar .ease:hover .line1{
  background: var(--primary);
}
.carousel_bar .ease:hover .line2{
  background: var(--primary);
}
.carousel_bar .ease:hover .line{
  background: var(--primary);
}
.bannerSection main{
  background: var(-zoso-text-yellow-gradient);

}
.ease{
  transition: all 300ms ease-in-out;
}



/* scroll animation for  active customers */
.carousel {
  @apply h-16 md:h-28;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  /* animation: scroll 15s linear infinite; */
}
.carouselItem {
  @apply absolute h-full w-[240px];
  left: max(calc(240px * 4), 100%);
  animation: scroll 10s linear infinite;
}

.item1 {
  animation-delay: calc(10s / 5 * (5 - 1) * 1);
}

.item2 {
  animation-delay: calc(10s / 5 * (5 - 2) * 1);

}

.item3 {
  animation-delay: calc(10s / 5 * (5 - 3) * 1);
}

.item4 {
  animation-delay: calc(10s / 5 * (5 - 4) * 1);
}
.item5 {
  animation-delay: calc(10s / 5 * (5 - 5) * 1);
}

@keyframes scroll {
  0% {
    left: 100%;
  }
  100% {
    left: -240px; /* Move the item to the left edge */
  }
}

.important-hover-text-red {
  @apply hover:text-[#3c1baa] !important;
}